# NODE
TZ="America/Sao_Paulo"

# DATABASE
DATABASE_URL="postgresql://{user}:{password}@{host}:{host}/{database}?schema={schema}"

# MERCADO PAGO
MP_PUBLIC_KEY= # FRONTEND (NAO SE APLICA)
MP_ACCESS_KEY= #BACKEND
MP_IDENPOTENCY_KEY= #BACKEND
